# General.
/Gemfile.lock
/build/

# Only keep a single, processed and minified version of downloaded files.
/content-categories/categories-*
!/content-categories/categories-json.2-pretty.json
!/content-categories/categories-txt.1-downloaded.txt

# Only keep a single, processed and minified version of downloaded files.
content-products/products-*
!/content-products/products-csv.2-filtered.csv
!/content-products/products-delta.*.2-filtered.json

# Ignore the downloaded Android app from which the FoodKeeper database comes.
content-topics-foodkeeper/FoodKeeper.AndroidApp.apk

# Ignore some old work for template development.
templates/FoodRescueManual.LEGACY.fodt
templates/FoodRescueManual.LEGACY.OFFCatMarker.png
